<!-- <p>{{monthName}}</p> -->


<!-- <mat-grid-list  cols="7" row="6" rowHeight="3:2" >
  <mat-grid-tile *ngFor="let item of lists">{{item}}</mat-grid-tile>
</mat-grid-list> -->


<div class="calender">

  <div class="calender__day">
    <div class="day-name" *ngFor="let item of weeks">
      <div class="col-item">{{item}}</div>
    </div>
  </div>

  <div class="calender__date">
    <div class="day-item" *ngFor="let item of counter(42); index as i">
      <div class="day-date" *ngIf="(i%7 == firstPos && currentDate <= lists.length)">
        {{currentDate}}
        <ng-container *ngIf="flag? dateIncrement(): display()"></ng-container>
        <!-- <ng-template #callfunction>{{dateIncrement()}}</ng-template> -->
        <!-- <div dateIncrement()></div> -->
      </div>
    </div>
  </div>


</div>
